<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DockPanelSuite" version="3.0.6" targetFramework="net40" />
  <package id="MathNet.Numerics" version="4.15.0" targetFramework="net40" />
  <package id="SerialPortStream" version="2.2.0" targetFramework="net40" />
  <package id="WeifenLuo.WinFormsUI.Docking" version="2.1.0" targetFramework="net40" />
  <package id="XPTable" version="1.6.1.140" targetFramework="net40" />
</packages>